.chat-container {
    display: flex;
    flex-direction: column;
    height: 93vh;
    padding: 20px;
    box-sizing: border-box;
}

.chat-history {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

.chat-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.question {
    text-align: right;
    background-color: rgba(162, 163, 162, 0.8);
    padding: 8px 15px;
    border-radius: 10px;
    max-width: 60%;
    margin-left: auto;
}

.answer {
    text-align: left;
    background-color: rgba(209, 255, 214, 0.8);
    padding: 8px 15px;
    border-radius: 10px;
    margin-right: auto;
    margin-top: 10px;
    max-width: 70%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-form input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.loading-dots {
    display: inline-block;
  }
  
  .loading-dots span {
    animation: blink 1.5s infinite;
  }
  
  .loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    0%, 20% {
      opacity: 0;
    }
    50%, 100% {
      opacity: 1;
    }
  }
  