<div class="chat-container">
    <h2>Četujte sa botom</h2>

    <div class="chat-history">
        <div *ngFor="let question of questions; let i = index" class="chat-message">
            
            <div class="question">
                {{ question }}
            </div>
            <div class="answer">
                {{ answers[i] }}
            </div>
        </div>
    </div>

    <form (ngSubmit)="onSubmit()" class="chat-form">
        <input type="text" [(ngModel)]="userInput" name="question" placeholder="Postavite pitanje" required />
        <button type="submit" class="default-button mx-2">Pitaj</button>
    </form>
</div>